.create_bookmark_panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border-style: dashed;
  border-width: 3px;
}
.display_bookmark_container {
margin:.25em;
}
.display_bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39vw;
  height: 10vh;
  border-style: solid;
  border-color: black;

}
.bookmark_wrapper {
  margin: .2em;
  margin-bottom: 0px;
}
.create_bookmark_form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name_input {
  text-align: center;
  width: 30vw;
  margin: 1em;
  border-width: 3px;
}
.select_font {
  text-align: center;
  width: 30vw;
  border-width: 3px;
}
.url_input {
  text-align: center;
  width: 30vw;
  margin: 1em;
  border-width: 3px;
}
.close_create_bookmark {
  background-color: transparent;
  border-width: 4px;
  height: 2em;
  margin: .25em;
  border-style: outset; 
  border-color: rgb(99, 97, 255);
}
.close_create_bookmark:hover{
  border-style: inset; 
}
.save_bookmark {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin:1em;
 
}
.save_bookmark_button {
  background-color: transparent;
  border-style: outset; 
  border-color: rgb(99, 97, 255);
}
.save_bookmark_button:hover {
  border-style: inset;
}