.create_shelf {
  display: flex;
  align-content: center;
  margin-top: .5em;
  background-color: transparent;
  transition: transform 1s;

}
.create_shelf:hover{ 
  border-style: dashed;
  background-color: rgb(132, 132, 255);
  transform: scale(1.05);
}
.open_create_shelf {
  background-color: transparent;
  width:2em;
  height: 10vh;
  margin-top: 4em;
}
.close_create_shelf {
  background-color: transparent;
}
.create_shelf_open {
  display: flex;
  flex-direction: row;
  background-color: rgb(109, 112, 255);
}
