.create_shelf {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3.5em;
  background-color: transparent;
  transition: transform 1s;
}
.create_shelf:hover{ 
  border-style: dashed;
  background-color: rgb(132, 132, 255);
  width: 8vw;
  height: 100vh;
  transform: scaleX(1.25);
}
.open_create_shelf{
  margin:.5em;
  background-color: transparent;
  border-width: 5px;
  height: 2em;
  border-style: outset;
}
.open_create_shelf:hover {
  background-color: transparent;
  border-width: 5px;
  height: 2em;
  border-style: inset;
}
.close_create_shelf {
  background-color: transparent;
}
.create_shelf_open {
  display: flex;
  flex-direction: row;
  background-color: rgb(109, 112, 255);
}
