.edit_shelf_panel {
display: flex;
flex-direction: column;
align-items: center;
padding: 1em;
}

.edit_shelf_form {
  display: flex;
flex-direction: column;
align-items: flex-end;

}
.shelf_save{
  display: flex;
  justify-self:flex-end;
  margin:1em;
  background-color: transparent;
  border-width: 4px;
 height: 2em;
 border-style: outset; 
 border-color: rgb(99, 97, 255);
}
.shelf_save:hover {
  border-style: inset;
}
.color_picker {
  margin:1em;
  margin-bottom: 0em;
}
.edit_shelf_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:1em;
}
.save_delete {
  display: flex;
  justify-content: flex-end;
}