.edit_bookmark_panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 42vw;

  }
  
  .edit_bookmark_form {
    display: flex;
  flex-direction: column;
  align-items: center;
  }
  .color_picker {
    margin:.5em;
    margin-top:0em;
    margin-bottom: 0em;
  }
 .bookmark_save {
   display: flex;
   align-self: flex-end;
   margin: .5em;
  background-color: transparent;
  border-width: 5px;
  height: 2em;
  border-style: outset;
 }
 .bookmark_save:hover {
  border-style: inset;
 }
 .create_bookmark_exit {
   margin:.25em;
  background-color: transparent;
  border-width: 5px;
  height: 2em;
  border-style: outset;
 }
 .create_bookmark_exit:hover {
   border-style: inset;
 }
